
#header {
  &::before{
    content: '';
    background: url(../../images/white_map.png) no-repeat;
  }
  .wrapper{
    width: 979px;
    margin: 0 auto;
    overflow: hidden;
    .logo{
      float: left;
      padding: 37px 0 46px 0;
      margin: 0 0 0 2px;
      a{
        display: block;
        text-indent: 9999px;
        background: url(../../images/logo.png) no-repeat;
        width: 173px;
        height: 40px;
      }
    }
    .nav{
      float: right;
      ul{
        display: flex;

        li{
          padding: 53px 3px 55px 0;
          position: relative;
          &:last-child{
            margin: 0 11px 0 0;
          }
          &:hover{
            a{
              color: #ae3b44;
              font:bold 13px/1.3 Arial,helvetica, sans-serif;
            }
            ul{
              display: block;
            }
          }
          a{
            margin-right: 20px;
            font:13px/1.3 Arial,helvetica, sans-serif;
            color: #3c3c3c;
            display: block;
          }
        }
        .drop_down1{
          ul{
            display: none;
            width: 145px;
            background: #212121;
            position: absolute;
            top: 74px;
            right: -28px;
            z-index: 9999;
            &::before{
              content: '';
              display: block;
              border-style: solid;
              border-width: 0 5px 3px 5px;
              border-color: transparent transparent #212121 transparent;
              position: absolute;
              top: -3px;
              right: 50%;
            }
            li{

              padding:0;
              border-bottom: 1px solid #202020;
              border-top: 1px solid #232525;
              box-sizing: border-box;
              background: #212121;
              &.drop_down2:hover::after{
                content: '';
                display: block;
                border-style: solid;
                border-width: 5px 0 5px 3px;
                border-color: transparent transparent transparent #212121;
                position: absolute;
                top: 10px;
                right: -3px;
              }
              &:hover {
                background: #1a1a1a;
                a{
                  color: #fff;
                  padding: 8px 0 0 12px;
                }
                ul{
                  display: block;
                }
              }
              a{
                font: 12px/15px Arial,helvetica, sans-serif;
                color: #9ca0a2;
                display: block;
                padding: 8px 0 0 12px;
                margin-bottom: 5px;

              }
            }
            .drop_down2{
              position: relative;
              ul{
                display: none;
                width: 145px;
                position: absolute;
                top: -1px;
                right: -149px;
                &::before{
                  display: none;
                }
                &::before{
                  content: '';
                  display: block;
                  border-style: solid;
                  border-width: 5px 0 5px 3px;
                  border-color: transparent transparent transparent #e7ecf2;
                  position: absolute;
                  top: 11px;
                  left: 0;
                }
                li{
                  &:last-child{
                    margin: 0;
                  }
                  &::after{
                    display: none;
                  }

                  a{
                    color: #9ca0a2;

                    &:hover{
                      color:#fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .slider_header{
      border-top:7px solid #212121;
      background: #ae3b44;
      float: left;
      width: 100%;
      img{
        float:left;
      }
      .slider_text{
        float:right;
        h2{
          float:left;
          width: 246px;
          padding: 16px 0 0 0;
          a{
            display: block;
            padding: 0 33px 0 11px;
            font: 24px/29px Arial, helvetica, sans-serif;
            color: #edf2f5;
            letter-spacing: -0.35px;
          }
        }
        p{
          float: right;
          width: 466px;
          margin: 19px 0 33px 0;
          font: 12px/19px Arial, helvetica, sans-serif;
          color: #222;
        }
      }
    }
  }
}
